<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yeapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp">
        <activity
            android:name=".KategoriEkle"
            android:exported="false" />
        <activity
            android:name=".UrunAyarlar"
            android:exported="false" />
        <activity
            android:name=".AdminSiparisDetay"
            android:exported="false" />
        <activity
            android:name=".UrunSil"
            android:exported="false" />
        <activity
            android:name=".UrunGuncelle"
            android:exported="false" />
        <activity
            android:name=".UrunEkle"
            android:exported="false" />
        <activity
            android:name=".AdminPaneli"
            android:exported="false" />
        <activity
            android:name=".SiparisDetay"
            android:exported="false" />
        <activity
            android:name=".Siparisler"
            android:exported="false" />
        <activity
            android:name=".Profil"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Odeme"
            android:exported="false" />
        <activity
            android:name=".Sepet"
            android:exported="false" />
        <activity
            android:name=".Anasayfa"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>